<div class="container">

    <div id="buy-main">
            <h1> List of products by cart ID: <span id="cart_id">{{ cart_id }} </span> <button id="buy-button" class="WOOP buy-button">Comprar</button></h1>


    </div>
    <div class="main">
        {{#each data}}
            <div class="card">
                <h2>{{ title }}</h2>

                <p><i>QTY of product <strong>in the cart</strong>: </i><strong>({{qty}})</strong></p>

                <p><strong>Id</strong>: {{_id}}</p>
                <p><strong>description: </strong> {{ description }}</p>
                <p><strong>code:</strong> {{ code }}</p>
                <p class="price"><strong>price: $</strong>{{ price }}</p>
                {{#if status}}
                    <p class="status-available"><strong>status:</strong> Available</p>
                {{else}}
                    <p class="status-not-available"><strong>status:</strong> Not Available</p>
                {{/if}}
                <p class="stock"><strong>stock:</strong> {{ stock }}</p>
                <div>
                    <p><strong>thumbnail:</strong></p>
                    <ul>
                        {{#each thumbnail}}
                            <li class="links"><a href="{{ this }}">{{ this }}</a></li>
                            <img class="thumbnails" src="{{formatThumbnailPath this}}" alt="Mi Imagen">
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/each}}
    </div>

</div>


<!-- Modal para mostrar la confirmación de compra -->
<div id="modal" class="modal">
    <div class="modal-content">
        <h2>Compra Exitosa</h2>
        <p><strong>Descripción:</strong> <span id="modal-description"></span></p>
        <p><strong>Código:</strong> <span id="modal-code"></span></p>
        <p><strong>Monto:</strong> <span id="modal-amount"></span></p>
        <p><strong>Comprador:</strong> <span id="modal-purchaser"></span></p>
        <p><strong>Fecha de Compra:</strong> <span id="modal-purchase-datetime"></span></p>
        <button id="ir-a-productos">Ir a Productos</button>
    </div>
</div>

<!-- Modal de confirmación de compra -->
<div id="modal-confirmacion" class="modal">
    <div class="modal-content">
        <h2>Confirmación de Compra</h2>
        <p>¿Deseas realizar la compra?</p>
        <button id="confirmar-compra">Confirmar</button>
        <button id="cancelar-compra">Cancelar</button>
    </div>
</div>


<script src="/js/buyManager.js"></script>
