<div class="container">
    <div class="alert_container">
        <lu id="ALERT">

        </lu>
    </div>
    <h1> Home List Of Products </h1>
    <p> Your cartID: <span id="cartId">{{cartId}}</span> <a href="http://localhost:8080/cart/{{cartId}}"> <strong class="WOOP">ir al carrito</strong></a></p>
    <div class="main">
        {{#each data}}
            <div class="card">
                <h2>{{ title }}</h2>
                <p><strong>Id</strong>: {{_id}}</p>
                <p><strong>description: </strong> {{ description }}</p>
                <p><strong>code:</strong> {{ code }}</p>
                <p class="price"><strong>price: $</strong>{{ price }}</p>
                {{#if status}}
                    <p class="status-available"><strong>status:</strong> Available</p>
                {{else}}
                    <p class="status-not-available"><strong>status:</strong> Not Available</p>
                {{/if}}
                <p class="stock"><strong>stock:</strong> {{ stock }}</p>
                <div>
                    <p><strong>thumbnail:</strong></p>
                    <ul>
                        {{#each thumbnail}}
                            <li class="links"><a href="{{ this }}">{{ this }}</a></li>
                        {{/each}}
                    </ul>
                </div>

                <button  id={{_id}} class="addToCart"  data_cart="{{_id}}" >Agregar al Carrito</button>
            </div>
        {{/each}}
    </div>
</div>

<div class="box-paginate">

    <div class="box-paginate-controls">
        <div>
            {{#if hasPrevPage}}
                <a href={{this.prevLink}}> <span> <<  </span> </a>
            {{/if}}
        </div>
        {{!-- numero de pagina --}}
        <div class="box-paginate-current-page"><p><strong>pagina: {{this.page}}</strong></p></div>

        <div>
            {{#if hasNextPage}}
            <a href={{this.nextLink}}>
                <span> >></span> </a>
            {{/if}}
        </div>
    </div>

</div>


<script src="/js/cartManager.js"></script>