<div class="container">
    <div class="alert_container">
        <lu id="ALERT"></lu>
    </div>


    <a href="{{url}}">


    <h1> Listado de productos </h1>
    <p> Tu carrito ID: <span id="cartId">{{cartId}}</span> <a href="http://localhost:8080/cart/{{cartId}}"> <strong class="WOOP">Ir al carrito</strong></a></p>
    <div class="main">

        {{#each data}}

            <div class="card">
                <h2 id="title-{{_id}}">{{ title }}</h2>
                <p><strong>Id</strong>: {{_id}}</p>
                <p><strong>Descripción:</strong> <span id="description-{{_id}}">{{ description }}</span></p>
                <p><strong>Código:</strong> <span id="code-{{_id}}">{{ code }}</span></p>
                <p class="price"><strong>Precio: $</strong> <span id="price-{{_id}}">{{ price }}</span></p>
                {{#if status}}
                    <p class="status-available"><strong>Estado:</strong> Disponible</p>
                {{else}}
                    <p class="status-not-available"><strong>Estado:</strong> No Disponible</p>
                {{/if}}
                <p class="stock"><strong>Stock:</strong> <span id="stock-{{_id}}">{{ stock }}</span></p>
                <div>
                    <p><strong>Thumbnail:</strong></p>
                    <ul id="thumbnail-container-{{_id}}">
                        {{#each thumbnail}}
                            <li class="links"><a href="{{ this }}">{{ this }}</a></li>
                            <img class="thumbnails" src="{{formatThumbnailPath this}}" alt="Mi Imagen">
                        {{/each}}
                    </ul>
                </div>


                {{#if (isAdminHelper ../user.rol)}}
                    <!-- Contenido para usuarios con isAdmin igual a true -->
                    <button class="editProduct" data-product-id="{{_id}}">Editar Producto</button>
                {{/if}}

                <div>
                    <form class="productEditForm" id="productEditForm-{{_id}}" data-product-id="{{_id}}" style="display: none;">

                        <input type="text" name="title" value="{{ title }}">
                        <input type="text" name="description" value="{{ description }}">
                        <input type="text" name="code" value="{{ code }}">
                        <input type="number" name="price" value="{{ price }}">
                        <input type="number" name="stock" value="{{ stock }}">

                        <div id="productEditForm-thumbnail-{{_id}}">

                        </div>
                        <div>
                            <button type="button" class="add-thumbnail" id="{{_id}}">Agregar Thumbnail</button>
                            <button type="submit" class="saveProduct" data-product-id="{{_id}}">Guardar Cambios</button>
                            <button type="button" class="cancelEdit" data-product-id="{{_id}}">Cancelar</button> <!-- Botón para cancelar la edición -->
                        </div>
                    </form>
                </div>
                <button  id={{_id}} class="addToCart"  data_cart="{{_id}}" >Agregar al Carrito</button>
            </div>
        {{/each}}
    </div>
</div>

<div class="box-paginate">
    <div class="box-paginate-controls">
        <div>
            {{#if hasPrevPage}}
                <a href={{this.prevLink}}> <span> <<  </span> </a>
            {{/if}}
        </div>
        <div class="box-paginate-current-page"><p><strong>Página: {{this.page}}</strong></p></div>
        <div>
            {{#if hasNextPage}}
                <a href={{this.nextLink}}>
                    <span> >> </span>
                </a>
            {{/if}}
        </div>
    </div>
</div>

<script src="/js/cartManager.js"></script>
<script src="/js/productEditor.js"></script>

</html>
