<div class="main">
<div>
    <h1>{{ apiName }} API</h1>
    <div class="api-info">
    <p>API Name: {{ apiName }}</p>
    </div>
    <h2>Endpoints:</h2>
    <div class="container">
    <ul class="endpoint-list">
        {{#each endpoints}}
        <li>
            <p>
                <a href="http://localhost:8080{{path}}" Target="_blank"><strong>{{ path }}</strong></a>
            <strong class="{{ verbo }}">{{ verbo }}</strong> - <i>{{ description }}</i>
            </p>
            <hr>
        </li>
        {{/each}}
    </ul>
    </div>
</div>
</div>