<form action="/guardar_cambios" method="POST" class="profile-form">
    <div class="profile-container">
        <h1>¡Hola! ¿Cómo estás {{user.fullName}}?</h1>
        <h3>Información de tu Perfil:</h3>
        <p><strong>id:</strong> {{user.id}}</p>
        <div class="form-field">
            <label for="first_name">First name:</label>
            <input type="text" id="first_name" name="first_name" value="{{user.first_name}}" disabled>
        </div>
        <div class="form-field">
            <label for="last_name">Last name:</label>
            <input type="text" id="last_name" name="last_name" value="{{user.last_name}}" disabled>
        </div>
        <div class="form-field">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{user.email}}" disabled>
        </div>
        <div class="form-field">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="{{user.age}}" disabled>
        </div>
        <div class="form-field">
            <label for="rol">Role:</label>
            <input type="text" id="rol" name="rol" value="{{user.rol}}" disabled>
        </div>
        <div class="form-field">
            <label for="registerBy">registerBy:</label>
            <input type="text" id="registerBy" name="registerBy" value="{{user.registerBy}}" disabled>
        </div>
        <div class="form-field">
            <label for="createdAt">Created At:</label>
            <input type="text" id="createdAt" name="createdAt" value="{{user.createdAt}}" disabled>
        </div>
        <div class="form-field">
            <label for="updatedAt">Updated At:</label>
            <input type="text" id="updatedAt" name="updatedAt" value="{{user.updatedAt}}" disabled>
        </div>
        <div class="form-field">
            <label for="cartId">Cart Id:</label>
            <input type="text" id="cartId" name="cartId" value="{{user.cartId}}" disabled>
        </div>
    </div>
</form>
