<!DOCTYPE html>
<html lang="en">
<head>
    <title>API Documentation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/{{{style}}}">
</head>
<body>
{{#if sessionActive}}
    <div class="welcome-container {{user.rol}}">
        <div class="welcome-container_text">
            <h3>Welcome! Your user information is:</h3>
            <p><strong>First name:</strong> {{user.first_name}}</p>
            <p><strong>Last name:</strong> {{user.last_name}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>Age:</strong> {{user.age}}</p>
            <p><strong>Role:</strong> {{user.rol}}</p>
            <div class="welcome-container_btn">
                <button id="logout-btn">Logout Session</button>
            </div>
        </div>
    </div>
{{/if}}
{{{body}}}
<script src="/js/logout.js"></script>
</body>
</html>
